*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url('./Tsi.jpeg');
    background-position: center;
    background-size:cover;
    
    
}
.calculator{
    padding: 20px;
    border: 2px solid#000;
    border-radius: 110px;
    box-shadow: 3px 6px 15px rgba(0,0,0,0.8);
    background: rgba(0,0,0,0.5);
    background: url('./ts.jpeg');
    
   
    
}
input{
    width: 320px;
    padding: 24px;
    margin: 10px;
    /* background: rgba(255,255,255,0.3); */
    box-shadow: inset 0px 0px 8px rgba(243, 5, 159, 0.92);
    font-size: 65px;
    text-align: right;
    color:black;
   
    border-radius: 16px;
    text-shadow: 0px 3px 5px #f14309dc;
    background: transparent;
    backdrop-filter: blur(10px);
}
input::placeholder{
    color: white;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    color: black;
    font-size: 24px;
    cursor: pointer;
    border: solid 2px black;
    border-radius: 25px;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    background:transparent;
    backdrop-filter: blur(10px);
   

}
.c,.del{
    font-size: 20px;
    
}
button:hover{
    color: whitesmoke;
    transform: scale(1.10);
}
.equalBtn{
    background: #fb1a06;
}
.operator{
    color: rgb(12, 12, 12);
    background-color: #f67c14;
   
    backdrop-filter: blur(5px);
}
.five{
    background-color:blanchedalmond;
}